<nav class="bf-navigation" id="nav">
	<button class="bf-navigation__menu-toggle"
		id="nav-toggle"
		hidden
		type="button">
		<span class="bf-!-sr">Toggle</span>Menu
	</button>
	<ul class="bf-container bf-navigation__menu" id="nav-menu">
		{% for item in primary_navigation.get_items %}
			<li class="bf-navigation__item">
				{% set itemCurrent = item.current ? ' aria-current-"page"' : '' %}
				<a class="bf-navigation__link" href="{{ item.url }}" {{- itemCurrent }}>
					{{- item.name -}}
				</a>
			</li>
		{% endfor %}
	</ul>
</nav>
