:focus {
	color: #18020c !important;
	background-color: #f4d35e !important;
	text-decoration: none !important;
	box-shadow: 0 -2px #f4d35e, 0 4px #18020c !important;
	box-decoration-break: clone !important;
	outline: none !important;
}

* {
	box-sizing: border-box;
}
*::before,
*::after {
	box-sizing: inherit;
}

.bf-template {
	color: #18020c;
	background-color: #fff;
	text-size-adjust: 100%;
}
.bf-template__body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Inter, sans-serif;
	font-size: 1.1875rem;
	line-height: 1.3684210526;
	margin: 0;
	background-color: transparent;
}

.bf-container {
	width: 100%;
	max-width: 64.5rem;
	margin-right: auto;
	margin-left: auto;
	padding-right: 1rem;
	padding-left: 1rem;
}

.bf-skiplink {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Inter, sans-serif;
	font-size: 1rem;
	line-height: 1.125;
	display: block;
	padding: 0.5rem;
	position: absolute;
	top: -9999em;
	left: -9999em;
	font-weight: bold;
}
.bf-skiplink:focus {
	position: static;
}

.bf-button {
	padding: 0;
	border: none;
	border-radius: 0;
	color: inherit;
	background: none;
	font: inherit;
	line-height: inherit;
	display: inline-block;
	padding: 0.5rem 0.75rem;
	color: #fff;
	background-color: #bc0031;
	text-decoration: none;
	border-bottom: 2px solid #840022;
}
.bf-button:hover {
	background-color: #840022;
}

.bf-header {
	color: #18020c;
	background-color: #fff;
	border-bottom: 1px solid #e6e6e6;
}
.bf-header__logo {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Inter Tight", sans-serif;
	font-weight: 800;
	letter-spacing: -0.01em;
	font-size: 1.4375rem;
	line-height: 1.3913043478;
	display: inline-flex;
	align-items: center;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	color: inherit;
	text-decoration: none;
}
.bf-header__logo-image {
	max-height: 1.5em;
	margin-right: 0.75rem;
	margin-top: -0.25em;
}
.bf-navigation {
	color: #fff;
	background-color: #bc0031;
}
.bf-navigation__menu-toggle {
	padding: 0;
	border: none;
	border-radius: 0;
	color: inherit;
	background: none;
	font: inherit;
	line-height: inherit;
	width: 100%;
	padding: 0.75rem;
	color: #fff;
	background-color: #bc0031;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
}
.bf-navigation__menu-toggle::before {
	content: "";
	display: inline-block;
	width: 0.75em;
	height: 0.75em;
	margin-right: 0.5rem;
	background-color: currentcolor;
	clip-path: polygon(0 0, 100% 0, 50% 100%);
}
.bf-navigation__menu-toggle[aria-expanded="true"] {
	background-color: #840022;
}
.bf-navigation__menu-toggle[aria-expanded="true"]::before {
	clip-path: polygon(50% 0, 100% 100%, 0 100%);
}
.bf-navigation__menu {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	list-style: none;
}
.bf-navigation__menu[hidden] {
	display: none;
}
@media (min-width: 768px) {
	.bf-navigation__menu {
		flex-direction: row;
	}
}
.bf-navigation__link {
	display: block;
	padding: 0.75rem 0.75rem;
	color: #fff;
	text-decoration: none;
}

.bf-splash {
	position: relative;
	background-color: #18020c;
}
.bf-splash__image {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	object-fit: cover;
}
.bf-splash__inner {
	min-height: 40vh;
	padding-top: 3rem;
	padding-bottom: 3rem;
	position: relative;
}
.bf-splash__heading {
	max-width: 20ch;
	margin: 0;
	line-height: 1.15;
	letter-spacing: -0.05em;
}
.bf-splash__heading span {
	color: #18020c;
	background-color: #fff;
	box-shadow: -0.75rem 0 0 #fff, 0.75rem 0 0 #fff;
	box-decoration-break: clone;
}
.bf-splash__cta {
	margin-top: 0.75rem;
}

.bf-\!-sr {
	position: absolute !important;
	inline-size: 1px !important;
	block-size: 1px !important;
	margin: -1px !important;
	padding: 0 !important;
	border: 0 !important;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
}

/*
Theme Name: BristolFurs
Theme URI: https://
Author: Kim "beeps" Grey
Author URI: https://beeps.website/
Description: 
Version: 1.0.0
License: MIT
License URI: https://mit-license.org/
Text Domain: bristolfurs
*/

/*# sourceMappingURL=style.css.map */
